.headshot{
 height: 180px;
}

.loadingImg{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.statsTable{
    background-color: #374b54;
}

.statsTableHeader{
    background-color: #435b66;
}