<h3 style="text-align: center;">Compare Players</h3>

<div class="container contentBox">
    <div class="row">
      <div class="col">
        Player
      </div>
      <div class="col">
        Player
      </div>
      <div class="col">
        Player
      </div>
      <div class="col">
        Player
      </div>
    </div>
    <div class="row" style="border-top: solid;">
      <div class="col-md-3 col-sm-6 col-6">
        Stat 1
      </div>
      <div class="col-md-3 col-sm-6 col-6">
        Stat 2
      </div>
      <div class="col-md-3 col-sm-6 col-6">
        Stat 3
      </div>
      <div class="col-md-3 col-sm-6 col-6">
        Stat 4
      </div>
      <div class="col-md-3 col-sm-6 col-6">
        Stat 5
      </div>
      <div class="col-md-3 col-sm-6 col-6">
        Stat 6
      </div>
      <div class="col-md-3 col-sm-6 col-6">
        Stat 7
      </div>
      <div class="col-md-3 col-sm-6 col-6">
        Stat 8
      </div>
      
    </div>
  </div>

  <h3 style="text-align: center;"> Comparison Graph </h3>

  <div class="container contentBox">
      <div class="row">
          <div class="col">
                <p>Comparison Options Here: </p>
          </div>
      </div>
      <div class="row" style="border-top: solid;">
        <div class="col">
                <img style="max-width: 100%;" src="https://lh3.googleusercontent.com/proxy/RC4iEWSRYmo51e_PXEwENLTVNuMv6j1hkKTXGoMG9yxOqq6s5UDQ-sqKg08kCarJdaiI7ESDRQzN8jKU5weS-Su_qI2tieHAewDv" alt="graph placeholder">
        </div>
      </div>
  </div>
