<p>team works!</p>
<p>Team Selected ID: {{teamID}}</p>
<div *ngFor="let item of teamData">
    {{item}}
</div>
<div>
    <div class="container contentBox">
        <div class="row">
          <div class="col-3">
            <img alt="{{teamData[5]}} logo" src="../../assets/teamLogos/{{teamID}}.svg">
          </div>
          <div class="col-9">
            {{teamData[5] + " (" + teamData[1] + ")"}}
            <br>
            {{teamData[3] + "ern Conference"}}
            <br>
            {{teamData[4] + " Division"}}
          </div>
        </div>
        <div class="row" style="border-top: solid;">
          <div class="col-md-3 col-sm-6 col-6">
           {{teamAvg[nbaTeamID[teamID - 1]].name}} PPG {{teamAvg[nbaTeamID[teamID - 1]].ppg.avg}} | {{teamAvg[nbaTeamID[teamID - 1]].ppg.rank}}
          </div>
          <div class="col-md-3 col-sm-6 col-6">
            RPG {{teamAvg[nbaTeamID[teamID - 1]].trpg.avg}} | {{teamAvg[nbaTeamID[teamID - 1]].trpg.rank}}
          </div>
          <div class="col-md-3 col-sm-6 col-6">
            APG {{teamAvg[nbaTeamID[teamID - 1]].apg.avg}} | {{teamAvg[nbaTeamID[teamID - 1]].apg.rank}}
          </div>
          <div class="col-md-3 col-sm-6 col-6">
            SPG {{teamAvg[nbaTeamID[teamID - 1]].spg.avg}} | {{teamAvg[nbaTeamID[teamID - 1]].spg.rank}}
          </div>
          <div class="col-md-3 col-sm-6 col-6">
            FG% {{teamAvg[nbaTeamID[teamID - 1]].fgp.avg}} | {{teamAvg[nbaTeamID[teamID - 1]].fgp.rank}}
          </div>
          <div class="col-md-3 col-sm-6 col-6">
            3P% {{teamAvg[nbaTeamID[teamID - 1]].tpp.avg}} | {{teamAvg[nbaTeamID[teamID - 1]].tpp.rank}}
          </div>
          <div class="col-md-3 col-sm-6 col-6">
            FT% {{teamAvg[nbaTeamID[teamID - 1]].ftp.avg}} | {{teamAvg[nbaTeamID[teamID - 1]].ftp.rank}}
          </div>
          <div class="col-md-3 col-sm-6 col-6">
            EFF {{teamAvg[nbaTeamID[teamID - 1]].eff.avg}} | {{teamAvg[nbaTeamID[teamID - 1]].eff.rank}}
          </div>
          
        </div>
      </div>

    <div>
      <table>
        <tr>
          <th>Date</th>
          <th colspan="3">Score</th>
          <th>Time</th>
        </tr>
        <tr *ngFor="let game of teamGames">
          <td>{{game.date| date: 'EEE MM-dd-yyyy'}}</td>
          <td>HOME</td>
          <td><img alt="{{teamData[5]}} logo" style="height: 30px" src="../../assets/teamLogos/{{game.home_team.id}}.svg">{{game.home_team.abbreviation + " " + game.home_team_score + " - " + game.visitor_team_score + " " + game.visitor_team.abbreviation}}<img alt="{{teamData[5]}} logo" style="height: 30px" src="../../assets/teamLogos/{{game.visitor_team.id}}.svg"></td>
          <td> AWAY</td>
          <td> {{!!(game.status == 'Final' || game.period != 4)  ? game.status : game.period + " |" + game.time}} </td>
        </tr>
      </table>
    </div>
</div>