<p>team works!</p>
<p>Team Selected ID: {{teamID}}</p>
<div *ngFor="let item of teamData">
    {{item}}
</div>
<div>
    <div class="container contentBox">
        <div class="row">
          <div class="col-3">
            Team Image
          </div>
          <div class="col-9">
            {{teamData[5] + " (" + teamData[1] + ")"}}
            <br>
            {{teamData[3] + "ern Conference"}}
            <br>
            {{teamData[4] + " Division"}}
          </div>
        </div>
        <div class="row" style="border-top: solid;">
          <div class="col-md-3 col-sm-6 col-6">
            Stat 1
          </div>
          <div class="col-md-3 col-sm-6 col-6">
            Stat 2
          </div>
          <div class="col-md-3 col-sm-6 col-6">
            Stat 3
          </div>
          <div class="col-md-3 col-sm-6 col-6">
            Stat 4
          </div>
          <div class="col-md-3 col-sm-6 col-6">
            Stat 5
          </div>
          <div class="col-md-3 col-sm-6 col-6">
            Stat 6
          </div>
          <div class="col-md-3 col-sm-6 col-6">
            Stat 7
          </div>
          <div class="col-md-3 col-sm-6 col-6">
            Stat 8
          </div>
          
        </div>
      </div>
</div>